<!DOCTYPE html>
<html lang="de">

<head>
    <title>mainpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/customSindarin.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        .hide {
            display: block;
        }
    </style>
    <script>
        function show1() {
            document.getElementById('div1').style.display = 'none';
        }
        function show2() {
            document.getElementById('div1').style.display = 'block';
        }

        var show1 = function () {
            document.getElementById('div1').style.display = 'none';
        }
        var show2 = function () {
            document.getElementById('div1').style.display = 'block';
        }
        var check = function () {
            if (document.getElementById('appLoginPwd').value ==
                document.getElementById('appLoginPwd2').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
    </script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#!"><%= user.name %></a>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#!">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/../users/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if (messages) { %>
        <%- messages() %>
        <% } %>

        <div class="jumbotron">
            <h4>Abschluss</h4>
            <form action="../dashboard/abschluss" method="post" id="event_form">

                <div class="form-group">
                    <label for="formGroupExampleInput">App login definieren? </label><br><br>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioB">
                        <label class="btn btn-secondary active">
                            <input type="radio" autocomplete="off" name="halo" value="on" id="retweet" onclick='show2();' checked>
                            yep
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="halo" id="option2" autocomplete="off" value="off" 
                                onclick='show1();' > nein
                        </label>
                    </div><br>
                </div>
                <div class="form-group">
                    <label for="formGroupExampleInput">2 Fr Pro Ticket oder 10%
                        durchführen?</label><br><br>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="radioB">
                        <label class="btn btn-secondary active">
                            <input type="radio" autocomplete="off" name="payment" value="pauschal" id="retweet" checked>
                            1FR
                        </label>
                        <label class="btn btn-secondary">
                            <input type="radio" name="payment" id="option2" autocomplete="off" value="prozent"> 10%
                        </label>
                    </div><br>
                </div>

                <div id="div1" class="hide">
                    <div class="form-group">
                        <label for="title">Definieren Sie einen Benutzernamen für das Einloggen in die App</label>
                        <input type="text" class="form-control" id="appLoginUser" name="appLoginUser"
                            placeholder="benutzername">
                    </div>
                    <div class="form-group">
                        <label for="title">Definieren Sie ein Passwort für das Einloggen in die App</label>
                        <input type="password" class="form-control" id="appLoginPwd" name="appLoginPwd"
                            onkeyup='check();'>
                    </div>
                    <div class="form-group">
                        <label for="title">Wiederholen Sie das Passwort für das Einloggen in die App</label>
                        <input type="password" class="form-control" id="appLoginPwd2" name="appLoginPwd2"
                            onkeyup='check();'>
                        <span id='message'></span>
                    </div>
                </div>
                <div class="form-group">

                    <input class="btn btn-success" type="submit" value="event eröffnen" id="submit" name="submit">
                </div>
                <input type="hidden" value="<%= title %>" name="title" />
                <input type="hidden" value="<%= veranstalter %>" name="veranstalter" />
                <input type="hidden" value="<%= eventId %>" name="eventId" />

            </form>
        </div>
    </div>

</body>

</html>