<!DOCTYPE html>
<html lang="de">

<head>
    <title>mainpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/customSindarin.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="node_modules/splash-screen/dist/splash-screen-audio-wave.min.css">
<script src="node_modules/splash-screen/dist/splash-screen-audio-wave.min.js"></script>
 
<script>
    const theme = window['splash-screen-audio-wave'];
 
    //enable with no arg.
    theme.enable();
    
    //destory the splash
    theme.destory();
</script> 
    <style>
        a.custom-card,
        a.custom-card:hover {
            color: inherit;
            text-decoration: none;
        }

        .img-wrapper {
            display: inline-block;
            height: 159px;
            overflow: hidden;
            width: 153px;
        }

        .img-wrapper img {
            height: 159px;
        }
    </style>
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#!"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="#!"><% if (this.user) { %> <%= user.name %> <% } %> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/../client/logout">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../users/mainpage">Tickets verkaufen <span
                            class="sr-only">(current)</span></a>
                </li>

            </ul>

        </div>
    </nav>
    <div class="container">

        <% if (messages) { %>
        <%- messages() %>
        <% } %>

        <div class="jumbotron">
            <h2 style="margin-bottom: 2%;"> Events</h2>
            <% events.forEach(function(event){ %>

            <a class="custom-card" href="/client/getEvent/<%= event.id %>">
                <div class="card shadow p-6 mb-4 bg-white rounded">
                    <div class="img-wrapper">
                        <img src="<%= event.picUrl %>" alt="Event image" height="10%">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title redtext"><%= event.title %></h4>
                        <br>
                        <h5 class="card-subtitle mb-2 text-muted"><%= event.veranstalter %></h5>
                        <p class="card-text"> <%= event.lokation %></p> <br>
                        <p class="greentext"><%= event.address %>'</p><br>
                        <p class="redtext"><%=  event.plz %></p>
                    </div>
                </div>
            </a>
            <% }) %>


        </div>
    </div>

</body>

</html>