<!DOCTYPE html>
<html lang="de">

<head>
    <title>basket</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/customSindarin.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        a.custom-card,
        a.custom-card:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
        var check = function () {
            if (document.getElementById('email').value ==
                document.getElementById('email2').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
        function checkTime(i) {
            if (i < 10) {
                i = "0" + i;
            }
            return i;
        }

        (function () {
            function checkTime(i) {
                return (i < 10) ? "0" + i : i;
            }

            function startTime() {
                var today = new Date(),
                    h = checkTime(today.getHours()),
                    m = checkTime(today.getMinutes()),
                    s = checkTime(today.getSeconds());
                    
                document.getElementById('time').innerHTML =h + ":" + m + ":" + s;;
                t = setTimeout(function () {
                    startTime()
                }, 500);
            }
            startTime();
        })();
        
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#!"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../clientMainpage"><% if (this.user) { %> <%= user.name %> <% } %> <span
                            class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../users/mainpage">Tickets verkaufen <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">

                </li>


            </ul>

        </div>
    </nav>
    <div class="container">

        <% if (messages) { %>
        <%- messages() %>
        <% } %>
        <h1 style="margin-top: 5%;"> Überblick</h1>

        <div class="jumbotron" style="margin-top: 5%;">

            <div class="media">
                <div id="time"></div>

                <div class="media-body">
                    <div class="row">
                        <div class="col-6">
                            <!-- Content -->
                            <h3 class="mt-0" style="margin-bottom: 2%;"><%= bestellungen[0].head.eventTitle %></h3>
                            <h4>Veranstalter : <%= bestellungen[0].head.veranstalter %></h4>
                            <p><b> Lokation : <%= bestellungen[0].head.lokation%></b></p>
                        </div>
                        <div class="col-6">
                            <!-- Content -->
                            <p><b> Reserviert : <%= bestellungen[0].head.orderExpires%> <div id="time"></div></b></p>

                        </div>
                    </div>


                    <table class="table" style="margin-top: 5%;">
                        <thead>
                            <tr>
                                <th>Kategorie</th>
                                <th>Preis</th>

                            </tr>
                        </thead>
                        <tbody>

                            <form action="/client/addToBasket" method="post" id="buyThat">
                                <% for (y= 1; y <= bestellungen[0].head.anzahl; y++ ) { %>
                                <tr class="table-info">
                                    <th scope="row"><%= bestellungen[y].bestellung.ticketKategorie %></th>

                                    <td><%= bestellungen[y].bestellung.preis %> CHF</td>

                                </tr>
                                <% }    %>



                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-primary float-right" name="submit" value="buy">Tickets
                        kaufen </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>