<!DOCTYPE html>
<html lang="de">

<head>
    <title>mainpage</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/customSindarin.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <style>
        a.custom-card,
        a.custom-card:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>
    <script>
        function goBack() {
            window.history.back()
        }
    </script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#!"><%= user.name %></a>
        <img src="<%= user.imageUrl %>" style="float: right;" />
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                <li class="nav-item active">
                    <a class="nav-link" href="../../users/mainpage">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/../users/logout">Logout</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mt-2 mt-md-0">
                <li class="nav-item">
                    <a class="nav-link" href="../../client/clientMainpage">Zur Kundenseite <span
                            class="sr-only">(current)</span></a>
                </li>

            </ul>
        </div>
    </nav>
    <div class="container">

        <% if (messages) { %>
        <%- messages() %>
        <% } %>


        <div class="jumbotron" style="margin-top: 5%;">
            <h4>Youtube-Video</h4>
            <p> 1. Rufe auf einem Computer das YouTube-Video auf, das du einbetten möchtest. <br>
                2. Klicke unter dem Video auf TEILEN Teilen. <br>
                3. Klicke auf Einbetten. <br>
                4. Kopiere den HTML-Code aus dem angezeigten Feld. <br>
                5. Füge den Code hier ein.</p>
            <form action="../dashboard/neweventYoutube" method="post" id="event_form">
                <div class="form-group">
                    <label for="beschrieb">Fügen Sie Hier den HTML Code ein</label>
                    <input type="text" class="form-control" id="youtube" name="youtube" placeholder="link">
                </div>
                <input type="hidden" value="<%= title %>" name="title">
                <input type="hidden" value="<%= veranstalter %>" name="veranstalter">
                <input type="hidden" value="<%= beschreibung %>" name="beschreibung">
                <input type="hidden" value="<%= picUrl %>" name="picUrl">
                <input type="hidden" value="<%= picId %>" name="picId">
                <input type="hidden" value="<%= von %>" name="von">
                <input type="hidden" value="<%= bis %>" name="bis">



                <div class="form-group">
                    <!--<button type="button" class="btn btn-secondary"
                        onclick="location.href='/users/mainpage';">Zurück</button>-->
                    <button type="button" class="btn btn-secondary" onclick="goBack()">Zurück</button>
                    <input class="btn btn-success" type="submit" value="weiter" id="submit" name="submit">
                </div>
            </form>

        </div>
    </div>

</body>

</html>