<!DOCTYPE html>
<html lang="de">

<head>
    <title>TICKI</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../stylesheets/bootstrap.min.css">
    <!--<link rel="stylesheet" type="text/css" href="css/customSindarin.css"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>


</head>

<body>
    

    <div class="container">
<div class="jumbotron">
    <h1>Ups, da ist was noch nich guddd</h1>
</div>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModal3Label">Registrieren</h5>
                </div>
                <form action="/users/register" enctype="multipart/form-data" method="post" id="form_register">
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="new_user_name">Geben Sie einen Benutzernamen an</label>
                            <input type="text" class="form-control" id="new_user_name" name="newusername" <% if (a){ %>
                                placeholder="<%=newusername%>" <% } else { %> value="<%=newusername%>" <% } %> 
                            </div>
                                <div class="form-group">
                            <label for="new_user_email">Geben Sie eine E-Mail an</label>
                            <input type="text" class="form-control" id="new_user_email" name="newemail" <% if (b){ %>
                                placeholder="<%=email%>" <% } else { %> value="<%=email%>" <% } %> </div> <div
                                class="form-group">
                            <label for="new_pwd_id">Geben Sie ein Passwort an</label>
                            <input type="password" class="form-control" id="new_pwd_id" name="new_pwd" <% if (y){ %>
                                placeholder="<%=pwd%>" <% } else { %> value="<%=pwd%>" <% } %> </div> <div
                                class="form-group">
                            <label for="new_pwd2_id">Bestätigen Sie das Passwort</label>
                            <input type="password" class="form-control" id="new_pwd2_id" name="new_pwd2" <% if (z){ %>
                                placeholder="<%=pwd2%>" <% } else { %> value="<%=pwd2%>" <% } %> </div> <div
                                class="form-group">
                            <label for="new_pic">Profilbild</label>
                            <input type="file" class="form-control" id="new_profil_pic" name="new_profil_pic">
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="location.href='/';">Abbrechen</button>
                        <button type="submit" class="btn btn-primary" name="submit_registration">Registrieren</button>
                        
                    </div><p><%= newusername %></p><p><%= pwd %> </p><p><%= a %></p>
                    <p><%= b %></p>
                    <p><%= y %></p>
                    <p><%= z %></p>
                    <p><%= errors[0] %></p>
                    

                </form>
            </div>
        </div>
    </div>

</body>

</html>